.modal {
	border-radius: 5px;
	width: 40%;
}

.modal input {
	height: 2.5rem;
}

.modal-content h4 {
	color: #ef8c2e;
}

.modal .modal-content {
	background-color: #fff;
	padding: 30px 30px;
}

.modal input[type=text]:focus,
.modal input[type=password]:focus {
	border-bottom: 1px solid #0b1d7e;
	box-shadow: 0 1px 0 0 #0b1d7e;
}

.modal input[type=text]:focus+label,
.modal input[type=password]:focus+label {
	color: #0b1d7e;
}

.modal-content .btn {
	background-color: #ef8c2e;
}

.modal .modal-footer {
	background-color: #0b1d7e;
}

.modal-footer>.btn {
  color: #fff;
}

@media screen and (max-width: 1100px) {
	.modal {
		width: 55%;
	}
}

@media screen and (max-width: 900px) {
	.modal {
		width: 80%;
	}
}