body {
	font-family: 'Muli', sans-serif;
}

.logo-div {
	text-align: center;
	margin: 50px auto 25px; 
}

.logo {
	height: 150px;
}

.logo-brand {
	display: none;
}

.option span.caret {
	margin-right: -15px;
}

.main-input input[type=text] {
	box-shadow: 0 0 10px #0b1d7e;
	border-radius: 5px;
	padding: 0 15px;
}

.main-input input[type=text]:focus {
	border: none;
	box-shadow: 0 0 20px #0b1d7e;
}

.dropdown-content {
	border-radius: 5px;
}

.dropdown-content li>span {
	color: #555;
}

.btn-search {
	margin: 7px 10px;
	background-color: #ef8c2e;
}

.btn-search:hover,
.btn-search:focus {
	background-color: #ff9d3f;
}

.btn-search:visited {
	background-color: #ef8c2e;
}

.card-layout {
	display: inline-block;
	width: 23%;
  margin-left: calc(8% / 8);
  margin-right: calc(8% / 8);
}

@media screen and (max-width: 1250px) {
  .card-layout {
		width: 32%;
	  margin-left: calc(4% / 6);
	  margin-right: calc(4% / 6);
	}
}

@media screen and (max-width: 992px) {
  .clear {
  	clear: both;
  }
}

@media screen and (max-width: 850px) {
  .card-layout {
		width: 45%;
	  margin-left: calc(10% / 4);
	  margin-right: calc(10% / 4);
	}

	.logo {
		height: 125px;
	}
}

@media screen and (max-width: 600px) {
  .card-layout {
		width: 80%;
	  margin-left: 10%;
	  margin-right: 10%;
	}

	.logo {
		height: 100px;
	}

	.logo-brand {
		display: inline-block;
		height: 50px;
	}
}

@media screen and (max-width: 500px) {
  .card-layout {
		width: 85%;
	  margin-left: calc(15% / 2);
	  margin-right: calc(15% / 2);
	}
}

@media screen and (max-width: 400px) {
  .card-layout {
		width: 90%;
	  margin-left: 5%;
	  margin-right: 5%;
	}
}