.signin-div {
	width: 35%;
	margin: 50px auto;
	padding: 30px 50px 50px 50px;
	border: 2px solid #ef8c2e;
	border-radius: 5px;
	box-shadow: 0 0 20px #000;
}

.msg-div {
	color: #ff3333;
	height: 70px;
	padding-top: 20px;
}

@media screen and (max-width: 1150px) {
	.signin-div {
		width: 40%;
	}
}

@media screen and (max-width: 950px) {
	.signin-div {
		width: 45%;
	}
}

@media screen and (max-width: 800px) {
	.signin-div {
		width: 60%;
	}
}
@media screen and (max-width: 600px) {
	.signin-div {
		width: 70%;
	}
}
