.error-msg, span {
	font-size: 12px;
	color: #f00;
	font-style: italic;
	width: 100%;
	display: inline-block;
	margin-bottom: 15px;
}

.input-div {
	width: 50%;
	display: inline-block;
}

input[type=text], input[type=password] {
	margin-bottom: 0;
}

.btn-form {
	margin: 15px auto -20px auto;
}
