.error-msg, span.err-msg {
	font-size: 14px;
	color: #f00;
	font-style: italic;
	width: 100%;
	display: inline-block;
}

span.err-msg-login,
.progress {
	margin: 20px 0 20px 0;
}

.input-div,
.input-login {
	width: 50%;
	display: inline-block;
}

input[type=text], input[type=password] {
	margin-bottom: 0;
}

.btn-form {
	margin: 15px auto -20px auto;
}

@media screen and (max-width: 750px) {
	.input-login {
		width: 100%;
	}
}

