#banner {
	padding: 10px;
	background-color: #fff;
	height: 100px;
	box-shadow: 0 0 10px #777;
}

.link-div {
	margin: 20px 15px;
}

.link-div a {
	font-family: 'Raleway', sans-serif;
	color: #0b1d7e;
	display: inline-block;
	padding: 10px 15px;
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 1.1em;
	transition: color 0.3s, text-shadow 0.3s;
}

.link-div a:hover {
	text-shadow: 0 0 3px #0b1d7e;
}

@media screen and (max-width: 600px) {
	.link-div a {
		display: none;
	}
}
