#banner {
	padding: 10px;
	background-color: #fff;
	height: 100px;
	box-shadow: 0 0 10px #777;
}

.banner-div {
  width: 80%;
	margin: 0 auto;
}

.navbar li {
	font-size: 120%;
	display: inline-block;
	margin:15px;
	float:right;
}

.show {
	display: inline-block;
}

.hide {
	display: none;
}

@media screen and (max-width: 750px) {
	.navbar>li {
		display: none;
	}
}
