.profile-img {
	width: 100%;
	box-shadow: 0 0 5px #000;
}

.profile-info p {
	line-height: 100%;
}

.userpage {
	margin: 30px auto;
	width: 90%;
}

.userpage-btn {
	width: 100%;
	background-color: #ef8c2e;
}

.userpage-btn:hover,
.userpage-btn:focus {
	background-color: #ff9d3f;
}

.userpage-btn:visited {
	background-color: #ef8c2e;
}

.upload-btn {
	width: 100%;
}

.form-title {
	color: #26a69a;
	text-align: center;
	margin: 30px;
}

.userpage-form {
	box-shadow: 0 0 3px #000;
	padding: 0 20px 50px 20px;
}
